body { 
    background: white;
    color: #7e7f8e;
    fill: #7e7f8e;
    font-family: -apple-system, 'Segoe UI', Ubuntu, Arial, sans-serif;
    margin: 8px 0;
  }
  
  .icon {
    width: 16px;
    height: 16px;
  }
  
  li {
    list-style-type: none;
    padding: 0.4em 0;
    transition: padding 0.12s ease-out;
  }
  li:hover {
    padding-left: 6px;
  }
  li.disabled {
    color: #c0c0c8;
    fill: #c0c0c8;
  }
  li.active {
    border-left: 6px solid #1e272e;
  }
  li .icon {
    margin-bottom: -0.1em;
    margin-right: 0.5em;
    margin-left: 20px;
  }
  li.active .icon {
    margin-left: 14px;
  }
  h3 {
    margin-top: 24px;
    margin-left: 20px;
  }
  ul {
    padding-left: 0em;
  }